body {
    background: url('images/fried rice image.avif') no-repeat;
    display:block;
    background-size: cover;
}
p {
font-size: x-large;
color:black;
line-height: 4%;
justify-self: center;
text-align: center;
}
form{
    text-align: center;
    
}