body {
    background: url('images/fried rice image.avif') no-repeat;
    display:block;
    background-size: cover;
}

p {
font-size: x-large;
color:black;
line-height: 2cm;
text-align: center;
}

form{
    text-align: center;  
}
h1{
    padding-bottom: 50px;
    
}
h2{
    font-size: x-large;
    color: black;
}

h3{
    font-size: x-large;
    color: black; 
}

h4{
    font-size: x-large;
    color: black; 
}